// BACKGROUND COLOR

.col-bg-opaque {
	background-color: transparent !important;
}
.col-bg-000 {
	background-color: var(--color_primany_000);
}
.col-bg-001 {
	background-color: var(--color_primany_001);
}
.col-bg-002 {
	background-color: var(--color_primany_002);
}
.col-bg-003 {
	background-color: var(--color_primany_003);
}
.col-bg-004 {
	background-color: var(--color_primany_004);
}
.col-bg-005 {
	background-color: var(--color_primany_005);
}
.col-bg-006 {
	background-color: var(--color_primany_006);
}
.col-bg-007 {
	background-color: var(--color_primany_007);
}
.col-bg-008 {
	background-color: var(--color_primany_008);
}
.col-bg-009 {
	background-color: var(--color_primany_009);
}
.col-bg-010 {
	background-color: var(--color_primany_010);
}
.col-bg-011 {
	background: var(--color_primany_011);
}
.col-bg-012 {
	background: var(--color_primany_012);
}
.col-bg-013 {
	background: var(--color_primany_013);
}
.col-bg-014 {
	background-color: var(--color_primany_014);
}
.col-bg-015 {
	background-color: var(--color_primany_015);
}
.col-bg-016 {
	background-color: var(--color_primany_016);
}
.col-bg-017 {
	background-color: var(--color_primany_017);
}
.col-bg-018 {
	background-color: var(--color_primany_018);
}
.col-bg-019 {
	background-color: var(--color_primany_019);
}

// COLOR

.col-current {
	color: currentColor;
}
.col-000 {
	color: var(--color_primany_000);
}
.col-001 {
	color: var(--color_primany_001);
}
.col-002 {
	color: var(--color_primany_002);
}
.col-003 {
	color: var(--color_primany_003);
}
.col-004 {
	color: var(--color_primany_004);
}
.col-005 {
	color: var(--color_primany_005);
}
.col-006 {
	color: var(--color_primany_006);
}
.col-007 {
	color: var(--color_primany_007);
}
.col-008 {
	color: var(--color_primany_008);
}
.col-009 {
	color: var(--color_primany_009);
}
.col-010 {
	color: var(--color_primany_010);
}
.col-011 {
	color: var(--color_primany_011);
}
.col-012 {
	color: var(--color_primany_012);
}
.col-013 {
	color: var(--color_primany_013);
}
.col-014 {
	color: var(--color_primany_014);
}
.col-015 {
	color: var(--color_primany_015);
}
.col-016 {
	color: var(--color_primany_016);
}
.col-017 {
	color: var(--color_primany_017);
}
.col-018 {
	color: var(--color_primany_018);
}
.col-019 {
	color: var(--color_primany_019);
}