.inputLike,
input[type=""],
input[type="text"],
input[type="tel"],
input[type="date"],
input[type="number"],
input[type="email"],
textarea {
	&[transparent] {
		padding: 0;
		gap: 0;
		min-height: 0;
		border-radius: 0;
		background-color: transparent !important;
		outline: unset !important;
	}

	resize: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 5px 20px;
	gap: 20px;
	min-height: 40px;
	border-radius: 6px;
	border: unset;
	box-sizing: border-box;

	&[type="number"] {
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}

		appearance: none;
	}

	// font-family: "CascadiaMono", system-ui;
	font-family: "Inter",
	system-ui;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;

	&.colForce {
		background-color: var(--color_primany_002) !important;
	}

	outline-style: solid;
	outline-width: 1px;
	outline-color: var(--color_primany_000);
	background-color: var(--color_primany_001);
	color: var(--color_primany_005);

	&:autofill {
		-webkit-text-fill-color: var(--color_primany_005);
		-webkit-box-shadow: 0 0 0px 1000px var(--color_primany_002) inset;
		transition: background-color infinite ease-in-out 0s;
	}

	&::placeholder {
		color: var(--color_primany_003);
	}

	&:focus,
	&:hover {
		cursor: text;
		outline-style: solid;
		outline-width: 1px;
		outline-color: var(--color_primany_019);
		background-color: var(--color_primany_002);
	}

	&[disabled] {
		color: var(--color_primany_003);
		background-color: var(--color_primany_002);

		&:hover {
			cursor: not-allowed;
		}
	}

	// &:not([nochecks]) {
	&.status {
		&:invalid {
			outline-color: var(--color_primany_008);
		}

		&:valid {
			outline-color: var(--color_primany_007);
		}
	}
}

textarea {
    padding: 12px 20px;
}

.input-item {
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	padding: 20px;
	background-color: var(--color_primany_001);
	position: relative;
	cursor: pointer;
	width: 100%;
	border-radius: 6px;
	user-select: none;

	&:hover {
		background-color: var(--color_primany_002);
	}
}

.custom-switch {
	position: relative;
	display: flex;
	user-select: none;

	> input {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:focus,
		&:hover {
			+span {
				cursor: pointer;
				border-color: var(--color_primany_006);
				background-color: var(--color_primany_002);

				&:before {
					scale: 1.1;
				}
			}
		}

		&:checked+span {
			background-color: var(--color_primany_006);
			border-color: var(--color_primany_006);
			&:before {
				background-color: var(--color_primany_012);
				left: calc(100% - 4px);
				transform: translateX(-100%);
			}
		}
	}

	> span {
		position: relative;
		cursor: pointer;
		display: flex;
		margin-right: 10px;
		background-color: var(--color_primany_000);
		border: 1px solid var(--color_primany_019);
		width: 44px;
		height: 22px;
		border-radius: 14px;

		&:before {
			content: "";
			position: absolute;
			top: 4px;
			left: 4px;
			width: 13px;
			height: 13px;
			background: var(--color_primany_005);
			border-radius: 14px;
			transition: 0.2s;
		}
	}
}

.custom-checkbox {
	display: flex;
	height: fit-content;
	align-items: center;
	justify-content: start;
	user-select: none;

	>input {
		&+span {
			&+div::before {
				display: none !important;
				content: none !important;
			}
		}

		position: absolute;
		z-index: -1;
		opacity: 0;

		&:focus,
		&:hover {
			&+span:not(.excludeBefore)::before {
				cursor: pointer;
				border-color: var(--color_primany_006);
				background-color: var(--color_primany_002);
			}
		}

		&:checked+span:not(.excludeBefore) {
			&::before {
				border-color: var(--color_primany_006);
				background-color: var(--color_primany_006);
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
			}
		}

		&:disabled+span:not(.excludeBefore) {
			&::before {
				background-color: var(--color_primany_019);
			}
		}
	}

	>span:not(.excludeBefore) {
		display: inline-flex;
		align-items: center;
		user-select: none;

		&::before {
			content: '';
			display: inline-block;
			width: 22px;
			height: 22px;
			flex-shrink: 0;
			flex-grow: 0;
			background-color: var(--color_primany_000);
			border: 1px solid var(--color_primany_019);
			border-radius: 6px;
			margin-right: 10px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% 50%;
		}
	}
}

.custom-radio {
	display: flex;
	height: fit-content;
	align-items: center;
	justify-content: start;
	user-select: none;

	>input {
		&+span {
			&+div::before {
				display: none !important;
				content: none !important;
			}
		}

		position: absolute;
		z-index: -1;
		opacity: 0;

		&:focus,
		&:hover {

			&+div:not(.excludeBefore)::before,
			&+span:not(.excludeBefore)::before {
				cursor: pointer;
				border-color: var(--color_primany_006);
				background-color: var(--color_primany_002);
			}
		}

		&:checked+div:not(.excludeBefore),
		&:checked+span:not(.excludeBefore) {
			&::before {
				border-color: var(--color_primany_006);
				background-color: var(--color_primany_006);
				background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%23fff'/%3e%3c/svg%3e");
			}
		}

		&:disabled+div:not(.excludeBefore),
		&:disabled+span:not(.excludeBefore) {
			&::before {
				background-color: var(--color_primany_019);
			}
		}
	}

	>div:not(.excludeBefore),
	>span:not(.excludeBefore) {
		display: inline-flex;
		align-items: center;
		user-select: none;

		&::before {
			content: '';
			display: inline-block;
			width: 22px;
			height: 22px;
			flex-shrink: 0;
			flex-grow: 0;
			background-color: var(--color_primany_000);
			border: 1px solid var(--color_primany_019);
			border-radius: 50%;
			margin-right: 10px;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 50% 50%;
		}
	}
}

.custom-color {
	>input {
		appearance: none;
		width: 80px;
		height: 40px;
		background-color: transparent;
		padding: none;
		border: none;
		cursor: pointer;

		&::-webkit-color-swatch {
			border-radius: 40px;
			border: none;
		}

		&::-moz-color-swatch {
			border-radius: 40px;
			border: none;
		}

		&:hover {
			cursor: pointer;
			scale: 1.02;
		}
	}
}