.contents {
	display: contents;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.sticky {
	position: sticky;
}

.top--30px {
	top: -30px;
}

.top-14px {
	top: 14px;
}

.top-24px {
	top: 24px;
}

.top-45 {
	top: 45%;
}

.top-50 {
	top: 50%;
}

.top-60px {
	top: 60px;
}

.top-65px {
	top: 65px;
}

.top-70px {
	top: 70px;
}

.top-75px {
	top: 75px;
}

.top-0px {
	top: 0px;
}

.top-12px {
	top: 12px;
}

.left-0px {
	left: 0px;
}

.left-14px {
	left: 14px;
}

.left--15px {
	left: -15px;
}

.left-35px {
	left: 35px;
}

.bottom-0px {
	bottom: 0px;
}

.right-0px {
	right: 0px;
}

.right--11px {
	right: -11px;
}

.right--15px {
	right: -15px;
}

.bottom-10px {
	bottom: 10px;
}


.bottom-20px {
	bottom: 20px;
}

.bottom-55px {
	bottom: 55px;
}

.left-50 {
	left: 50%;
	transform: translate(-50%);
}