$breakpoint-mobile: 800px;
$breakpoint-tablet: 1100px;

:root {
	color-scheme: dark;
	--color_primany_000: #8F8F8F;
	--color_primany_001: #FFFFFF;
	--color_primany_002: #1E1E1E;
	--color_primany_003: #BDBDBD;
	--color_primany_004: #2F2F2F;
	--color_primany_005: #777777;
	--color_primany_006: #494949;
	--color_primany_007: #A9F8F9;
	--color_primany_008: #A9F9C4;
	--color_primany_009: #181618;
	--color_primany_010: #242424;
	--color_primany_011: linear-gradient(137.64deg, #A9F9C4 13.31%, #FF7D7D 79.84%);;
	--color_primany_012: linear-gradient(90deg, #A9F9C4 0%, rgba(169, 249, 196, 0.21) 100%);;
	--color_primany_013: linear-gradient(90deg, #F9A9A9 0%, rgba(249, 169, 169, 0.21) 100%);;
	--color_primany_014: #F9A9A9;
	--color_primany_015: rgba(255, 255, 255, 0.1);;
	--color_primany_016: #2CB576;
	--color_primany_017: #3C3C3C;
	--color_primany_018: #0A0A0A;
	--color_primany_019: #000000;
}