// Отображение только на мобильных
@media (min-width: $breakpoint-mobile) {
	.breakpoint-mobile {
		display: none !important;
	}
}

// Отображение только на планшетах
@media (min-width: $breakpoint-tablet) {
	.breakpoint-tablet {
		display: none !important;
	}
}

// Отображение с мобильных и ниже
@media (max-width: $breakpoint-mobile) {
	.from-breakpoint-mobile {
		display: none !important;
	}

	.bp-4728 {
		&.dir-row {
			flex-direction: column;
		}
		.max-w-280px, .max-w-450px {
			max-width: unset;
		}
	}
}

// Отображение с планшетов и ниже
@media (max-width: $breakpoint-tablet) {
	.from-breakpoint-tablet {
		display: none !important;
	}
	
	.bp-47171 {
		justify-content: center;
		text-align: center;
	}
	.bp-2108 {
		&.h-1px {
			height: auto;
		}
		&.jc-end {
			justify-content: unset;
		}
	}
}

// Отображение только на пк
@media (max-width: $breakpoint-tablet) {
	.breakpoint-pc {
		display: none !important;
	}
	.cropOnMobile {
		overflow: hidden;
	}
}

// Отображение только на whtd
@media (min-width: $breakpoint-whtd) {
	.breakpoint-whtd {
		display: none !important;
	}
}

// Отображение с whtd и ниже
@media (max-width: $breakpoint-whtd) {
	.from-breakpoint-whtd {
		display: none !important;
	}
	.whtd-collaps-sidemenu {
		&.max-w-320px {
			max-width: fit-content !important;
		}
		button {
			justify-content: center;
		}
		span, p {
			display: none !important;
		}
		img {
			max-width: 32px;
		}
	}
}