.ani-fade-show, [page] {
	&:not([active]) {
		visibility: hidden;
		opacity: 0;
		height: 0;
		max-height: 0;
		min-height: 0;
		padding: 0;
		margin: 0;
		display: none;
	}
	animation: keyframes-fade-show 250ms ease;
}

@keyframes keyframes-fade-show {
	0% {
		opacity: 0%;
		transform: translateY(10px);
	}
	100% {
		opacity: 100%;
		transform: translateY(0px);
	}
}

@keyframes rotate-gift {
	0% {
		transform: rotate(0);
	}

	25% {
		transform: rotate(-10deg);
	}

	50% {
		transform: rotate(10deg);
	}

	75% {
		transform: rotate(-6deg);
	}

	100% {
		transform: rotate(0);
	}
}

.gift {
	animation-name: rotate-gift;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	display: inline-block;
}

.ease {
	transition: all 200ms ease;
}