.forcePointer {
	user-select: none;
	&:hover {
		cursor: pointer;
	}
}

.deactivate {
	height: 0px;
	visibility: hidden;
	padding: unset;
	opacity: 0%;
	display: none;
}

.no-touch {
	pointer-events: none;
}

.visibleOnHover {
	opacity: 0%;
	transition: opacity 100ms 0ms;
	&:hover {
		opacity: 100%;
	}
}

.hideOnNotHover {
	&:not(:hover) {
		visibility: hidden !important;
	}
}
.hideOnHover {
	&:hover {
		visibility: hidden !important;
	}
}

.scroll-Y, .scroll-X {
	scroll-behavior: smooth;
}

.scroll-X {
	overflow-x: auto;
	padding-bottom: 10px;
}

.scroll-Y {
	overflow-y: auto;
}

.crop {
	overflow: hidden;
}

.crop-X {
	overflow-x: hidden;
}