.respone-cards {
	flex-wrap: wrap;
	& > a {
		flex: 1 1 420px;
	}
}

.respone-cards-256px {
	flex-wrap: wrap;
	& > a {
		flex: 1 1 256px;
	}
}



table {
	width: 100%;
	
	tbody {
		display: table;
		width: inherit;
	}
	th, td {
		text-align: left;
		padding: 10px;
		border-bottom: 1px solid var(--color_primany_017);
	}
}