.respone-cards {
	flex-wrap: wrap;
	& > a {
		flex: 1 1 420px;
	}
}

.respone-cards-256px {
	flex-wrap: wrap;
	& > a {
		flex: 1 1 256px;
	}
}

.respone-cards-500px {
	flex-wrap: wrap;
	& > div,
	& > a {
		flex: 1 1 500px;
	}
}

.bottombar-custom {
	position: fixed;
	top: unset;
	bottom: 0px;
	left: 0px;
	z-index: 666;
	max-width: calc(100% - 20px);
	overflow: hidden;

	a, button {
		margin-top: 10px;
		width: 100%;
		min-height: 35px;
	}
	a {
		border-bottom: 1px solid var(--color_primany_002);
	}

	box-sizing: border-box;
	padding: 20px;
	border-radius: 12px;
	margin: 10px;
	transition: opacity 100ms linear, transform 100ms linear, visibility 100ms linear;

	max-height: calc(100vh - 100px);
	height: auto;
	overflow-y: auto;

	&:not([bottomBarActive]) {
		visibility: hidden;
		opacity: 0%;
		transform: scale(1) translate(-50%, 10px);
	}
}

table {
	width: 100%;
	
	tbody {
		display: table;
		width: inherit;
	}
	th, td {
		text-align: left;
		padding: 10px;
		border-bottom: 1px solid var(--color_primany_017);
	}
}